:root {
	--ff-kumbh: 'Kumbh Sans', sans-serif;
	--ff-roboto: 'Roboto Slab', serif;
	--ff-space: 'Space Mono', monospace;
	--color-red: #F87070;
	--color-cyan: #70F3F8;
	--color-purple: #D881F8;
	--color-lavender: #D7E0FF;
	--color-navy: #1E213F;
	--color-white: #FFFFFF;
	--color-off-white: #EFF1FA;
	--color-dark-navy: #161932;
	--color-gradient-start: #2E325A;
	--color-gradient-end: #0E112A;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-navy);
}

.pomodoro-app .container {
	margin: 48px auto 56px auto;
	max-width: 410px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 767px) {
		margin-block: 32px 48px;
	}
}

.pomodoro-app .container h2 {
	font-family: var(--ff-kumbh);
	font-size: 32px;
	font-weight: 700;
	color: var(--color-lavender);
	margin-bottom: 55px;

	@media (max-width: 767px) {
		font-size: 24px;
		margin-bottom: 45px;
	}
}

.pomodoro-app-cta {
	background-color: var(--color-dark-navy);
	border-radius: 31.5px;
	padding: 8px;
	margin-bottom: 45px;
	max-width: 373px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 767px) {
		margin-bottom: 110px;
	}
}

.pomodoro-app-cta-button {
	font-family: var(--ff-kumbh);
	color: var(--color-lavender);
	background-color: transparent;
	border: none;
	outline: none;	
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	padding-block: 15px;
	width: 100%;
	border-radius: 26.5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	opacity: 0.4;

	&.active {
		background-color: var(--color-red);
	}

	&:hover {
		color: #D7E0FF;
		opacity: 1;
	}
}

.pomodoro-app-timer {
	background: linear-gradient(to bottom right, var(--color-gradient-end) 0%, var(--color-gradient-start) 100%);
	box-shadow:
		50px 50px 100px 0 #121530,
		-50px -50px 100px 0 #272C5A;
	width: 410px;
	height: 410px;
	border-radius: 50%;
	margin-bottom: 63px;

	@media (max-width: 767px) {
		margin-bottom: 80px;
	}
}

.pomodoro-app-inner {
	margin: 22px;
	background-color: #161932;
	height: 366px;
	width: 366px;
	border-radius: inherit;
	border: 1px solid blue;
}

.pomodoro-app-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #70F3F8;
	stroke-linecap: round;
	border-width: 8px;
	border-radius: 50%;
	margin: 13.5px;
	width: 339px;
	height: 339px;
}

.pomodoro-app-heading {
	color: var(--color-lavender);
	font-size: 100px;
	line-height	: 1;
	margin-bottom: 53px;
	font-weight: 700;

}

.pomodoro-app-description {
	color: var(--color-lavender);
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.pomodoro-app-settings-icon {
	width: 27px;
	height: 28px;
}

.pomodoro-app-settings {
	border-radius: 25px;
	background-color: var(--color-white);
	padding-block: 35px 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* display: none; */

	@media (max-width: 767px) {
		padding-block: 24px 60px;
		margin-block: 46px 72px;
		left: 24px;
    right: 24px;
    top: 0;
    height: 100%;
		transform: none;
		width: 100%;
	}
}

.pomodoro-app-info {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E3E1E1;
	padding: 0 40px 30px 40px;

	@media (max-width: 767px) {
		padding-inline: 24px;
	}
}

.pomodoro-app-info-heading {
	color: var(--color-dark-navy);
	font-family: var(--ff-kumbh);
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	
	@media (max-width: 767px) {
		font-size: 20px;
	}
}

.pomodoro-app-settings-container {
	padding: 24px 40px 0 40px;

	@media (max-width: 767px) {
		padding-inline: 24px;
	}
}

.pomodoro-app-settings-inner {
	display: flex;
	gap: 20px;
	padding-block: 25px;
	border-bottom: 1px solid rgba(22, 25, 50,0.1);

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.pomodoro-app-settings-inner-heading {
	font-family: var(--ff-kumbh);
	color: var(	--color-dark-navy);
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: left;
	text-transform: uppercase;

	@media (max-width: 767px) {
		font-size: 11px;
		text-align: center;
	}
}

.pomodoro-app-settings-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.pomodoro-app-settings-wrapper label {
	color: var(	--color-navy);
	font-family: var(--ff-kumbh);
	font-size: 12px;
	font-weight: 700;
	opacity: 0.4;
}

.pomodoro-app-settings-wrapper input {
	max-width: 140px;
	font-family: var(--ff-kumbh);
	font-size: 14px;
	font-weight: 700;
	background-color: #EFF1FA;
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 15px 15px 20px 15px;
}

.pomodoro-app-settings-info {
	padding-block: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-child {
		padding-block: 0;
		border: 1px solid red;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		gap: 18px;
	}
}

.pomodoro-app-settings-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.pomodoro-app-settings-font {
	position: relative;
	width: 40px;
	height: 40px;
	font-size: 15px;
	line-height: 1;
	border-radius: 50%;
	display: grid;
	place-items: center;
	cursor: pointer;

	input {
		appearance: none;
		position: absolute;
		inset: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.pomodoro-app-settings-font--kumb {
	background-color: var(--color-navy);
	font-family: var(--ff-kumbh);
	color: var(--color-white);
}

.pomodoro-app-settings-font--roboto {
	background-color: var(--color-off-white);
	font-family:  var(--ff-roboto);
	color: var(--color-navy);
}

.pomodoro-app-settings-font--mono {
	background-color: var(--color-off-white);
	color: var(--color-navy);
}

.pomodoro-app-settings-color {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	cursor: pointer;
	border: 1px solid white;

	input {
		appearance: none;
		margin: 0;
	}

	&:has(input:checked) {
		border: 1px solid red;
	}
}

.pomodoro-app-settings-color--red {
	background-color: var(--color-red);
}

.pomodoro-app-settings-color--cyan {
	background-color: var(--color-cyan);
}

.pomodoro-app-settings-color--purple {
	background-color: var(--color-purple);
}

.pomodoro-app-submit-btn {
	background-color: var(--color-red);
	color: var(--color-white);
	font-family: var(--ff-kumbh);
	font-size: 16px;
	line-height: 1;
	border: none;
	outline: none;
	border-radius: 26.5px;
	padding-block: 20px;
	max-width: 140px;
	width: 100%;
	position: absolute;
	top: auto;
	left: 50%;
  transform: translate(-50%, 50%);
	bottom: 0;
}